<%= link_to message, class: "list-group-item list-group-item-action flex-column align-items-start #{read_class(message)}" do %>
  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <%= message.title %>
      </h5>
      <small>
        <%= "#{message.sender.first_name}," "#{time_ago_in_words(message.created_at)} ago" %>
      </small>
  </div>
  <p class="mb-1">
    <%= raw truncate(message.content, length: 200) %>
  </p>
<% end %>
